<div class="footer">
    <div class="contenedor">
        <div style="display: flex;">

        <div class="colum">
            <span class="title">Free Shipping</span>
            <p>Get 2-day free shipping anywhere in North America.</p>
        </div>

        <div class="colum">
            <span class="title">Free Shipping</span>
            <p>Get 2-day free shipping anywhere in North America.</p>
        </div>
        
        <div class="colum">
            <h6 class="title-precio">$295.95</h6><p>Need financing? Learn more</p>
        </div>
        
        <div class="colum">
            <button type="button" class="boton btn btn-primary">Buy now</button>
        </div>
        </div>
        
    </div>
    



    <!-- <div class="row">
        <div class="col-md-3 col-12">
            <span class="title">Free Shipping</span>
            <p>Get 2-day free shipping anywhere in North America.</p>
        </div>
        <div class="col-md-3 col-12">
            <span class="title">Free Shipping</span>
            <p>Get 2-day free shipping anywhere in North America.</p>
        </div>
        <div class="col-md-3 col-12">

        </div>
        <div class="col-md-3 col-12">
            <div class="row">
                <div class="col-md-6 col-12">
                    <h6>$295.95</h6>
                    <p>Need financing? Learn more</p>
                </div>
                <div class="col-md-6 col-12">
                    <button type="button" class="btn btn-primary">Buy now</button>
                </div>
            </div>
            

            
        </div>
    </div> -->

</div>